.rs-portlet {
    transition: all 100ms cubic-bezier(.25, .8, .25, 1);
}

.resize-s {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: ns-resize;
    height: 3px;
    text-align: center;
}

.resize-s i.v-s {
    line-height: 0;
    position: relative;
    top: -3px;
    color: rgba(169, 169, 169, 0.73);
}

.on-drag {
    border: 0.1rem solid #808080;
    background: transparent;
}